bapxdb projects updateDomainVerification \
        --projectId [PROJECT_ID] \
        --domainId [DOMAIN_ID]
