PUT /v1/account/verification HTTP/1.1
Host: HOSTNAME
Content-Type: application/json
X-bapXdb-Response-Format: 1.4.0
X-bapXdb-Project: 5df5acd0d48c2
X-bapXdb-JWT: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ...

{
  "userId": "[USER_ID]",
  "secret": "[SECRET]"
}
