bapxdb account createVerification \
        --url="https://example.com"
