bapxdb users updatePhoneVerification \
        --userId <USER_ID> \
        --phoneVerification false
