bapxdb proxy updateRuleVerification \
        --ruleId <RULE_ID>
